<div class="table-item" (click)="handleShowModal()">
  <img class="mainImg" src="{{ produto.imagem }}" alt="imagem do produto" />

  <div class="nameAndDescription">
    <span> Produto: {{ produto.nome }} </span>
    <span class="description"> Descrição: {{ produto.descricao }} </span>
  </div>

  <span> Preço: R$ {{ produto.preco }} </span>
  <span> Estoque: {{ produto.estoque }} </span>

  <img
    class="eye"
    *ngIf="produto.status; else notVisible"
    src="../../../assets/visible-eye-svgrepo-com.svg"
    alt="visible"
  />

  <ng-template #notVisible>
    <img
      class="eye"
      src="../../../assets//invisible-svgrepo-com.svg"
      alt="visible"
    />
  </ng-template>

  <button
    class="removeProduto"
    (click)="$event.stopPropagation()"
    (click)="handleDelete(produto.id)"
  >
    Remover Produto
  </button>
  <app-modal-show-produto
    (CloseModal)="onCloseModal()"
    [produto]="produto"
    *ngIf="showModal"
  >
  </app-modal-show-produto>
</div>
