<div class="table-item" (click)="handleShowModal()">
  <img class="mainImg" src="{{ produto.imagem }}" alt="imagem do produto" />

  <div class="produtoInfo">
    <h3>Nome:</h3>
    <span>
      {{ produto.nome | titlecase }}
    </span>
  </div>

  <div class="produtoInfo">
    <h3>Descrição:</h3>
    <span>
      {{ produto.descricao | titlecase }}
    </span>
  </div>

  <div class="produtoInfo">
    <h3>Preço:</h3>
    <span>
      {{ produto.preco / 100 | currency }}
    </span>
  </div>

  <div class="produtoInfo">
    <h3>Estoque:</h3>
    <span> {{ produto.estoque | number }} Un. </span>
  </div>

  <img
    class="eye"
    *ngIf="produto.status; else notVisible"
    src="../../../assets/visible-eye-svgrepo-com.svg"
    alt="visible"
  />

  <ng-template #notVisible>
    <img
      class="eye"
      src="../../../assets//invisible-svgrepo-com.svg"
      alt="visible"
    />
  </ng-template>

  <button
    class="removeProduto"
    (click)="$event.stopPropagation()"
    (click)="handleDelete(produto.id)"
  >
    Remover Produto
  </button>
</div>

<app-modal-show-produto
  (CloseModal)="onCloseModal()"
  [produto]="produto"
  *ngIf="showModal"
>
</app-modal-show-produto>
