.table-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 2px solid black;
    position: relative;
}

.table-item img {
    width: 120px;
    height: 120px;
}

.table-item span {
    font-weight: 600;
}

.nameAndDescription {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.nameAndDescription span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-item:hover {
    background: rgb(219, 211, 211);
    cursor: pointer;
}

.description {
    font-weight: 600;
    color: rgb(112, 120, 128);
    overflow: hidden;
    text-overflow: ellipsis;
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.modalInnerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 80vh;
    background: white;
}

.closeButton {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
}

.produtoInfo {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.produtoInfo span {
    font-size: larger;
}

.modalDescription {
    display: flex;
    overflow-x: auto;
    width: 150%;
}

.produtoInfo {
    width: 220px;
    height: 220px;
}
