<div class="table-item" (click)="handleShowModal()">
  <img class="mainImg" src="{{ produto.imagem }}" alt="imagem do produto" />

  <div class="nameAndDescription">
    <span> Produto: {{ produto.nome }} </span>
    <span class="description"> Descrição: {{ produto.descricao }} </span>
  </div>

  <span> Preço: R$ {{ produto.preco }} </span>
  <span> Estoque: {{ produto.estoque }} </span>

  <img
    class="eye"
    *ngIf="produto.status; else notVisible"
    src="../../../assets/visible-eye-svgrepo-com.svg"
    alt="visible"
  />

  <ng-template #notVisible>
    <img
      class="eye"
      src="../../../assets//invisible-svgrepo-com.svg"
      alt="visible"
    />
  </ng-template>

  <button
    class="removeProduto"
    (click)="$event.stopPropagation()"
    (click)="handleDelete(produto.id)"
  >
    Remover Produto
  </button>
</div>

<!--  -->
<div *ngIf="showModal" class="modalContainer">
  <img
    class="closeButton"
    (click)="handleShowModal()"
    src="../../../assets/button.png"
    alt="closeButton"
  />
  <div class="modalInnerContainer">
    <img src="{{ produto.imagem }}" alt="imagem do produto" />

    <div class="produtoInfo">
      <span> Produto: {{ produto.nome }} </span>
      <span class="modalDescription"> Descrição: {{ produto.descricao }} </span>

      <span> Preço: {{ produto.preco }} </span>
      <span> Estoque: {{ produto.estoque }} </span>
      <span *ngIf="produto.status"> Status: Vísivel </span>
      <span *ngIf="!produto.status"> Status: Não vísivel </span>
    </div>
  </div>
</div>
