.table-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 2px solid black;
    position: relative;
}

.mainImg {
    width: 120px;
    height: 120px;
}

.table-item span {
    font-weight: 600;
}

.eye {
    width: 20px;
    height: 20px;
}

.nameAndDescription {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.nameAndDescription span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-item:hover {
    background: rgb(219, 211, 211);
    cursor: pointer;
}

.description {
    font-weight: 600;
    color: rgb(112, 120, 128);
    overflow: hidden;
    text-overflow: ellipsis;
}
