<div class="addProdutoContainer">
  <div class="addProdutoInnerContainer">
    <form
      (ngSubmit)="handleSubmit()"
      [formGroup]="produtoForm"
      #formDir="ngForm"
      ng-submit="$event.preventDefault()"
    >
      <div class="formItem">
        <label>Url</label>
        <input
          placeholder="Url da imagem do produto"
          type="url"
          formControlName="imagem"
        />
      </div>

      <div class="formItem">
        <label for="name">Nome</label>
        <input
          id="name"
          placeholder="Nome do produto"
          type="text"
          formControlName="nome"
          required
        />
      </div>

      <div class="formItem">
        <label for="#textArea">Descrição</label>
        <textarea
          formControlName="descricao"
          placeholder="Descreva o produto"
          required
          maxlength="2000"
          id="textArea"
          cols="10"
          rows="3"
        ></textarea>
      </div>

      <div class="formItem">
        <label for="#stock">Estoque</label>
        <input
          id="stock"
          placeholder="Estoque do produto"
          type="number"
          formControlName="estoque"
        />
      </div>

      <div class="formItem">
        <label for="#price">Preço</label>
        <input id="price" type="number" formControlName="preco" />
      </div>

      <div class="formItem">
        <label>Visível</label>
        <input type="checkbox" formControlName="status" />
      </div>

      <div class="modalButtons">
        <button type="submit">Confirmar</button>
        <button type="button" (click)="handleCloseModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
