.addProdutoContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.addProdutoInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 75vh;
    background: white;
}

.addProdutoInnerContainer form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formItems {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.statusItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirmFormButton {
    background: green;
    height: 40px;
    border-radius: 10px;
    color: white;
}

.confirmFormButton:hover {
    background: white;
    color: green;
    cursor: pointer;
}

.cancelFormButton {
    width: 16%;
    background: red;
    height: 40px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
