<div class="tableContainer">
  <button class="addProdutoButton" (click)="handleModalUp()">
    Adicionar Produto
  </button>

  <div *ngIf="produtos.length; else noProdutos">
    <app-table-item
      (EmitProdutosList)="onEmitProdutosList($event)"
      *ngFor="let produto of produtos"
      [produto]="produto"
      [produtos]="produtos"
    >
    </app-table-item>
  </div>

  <ng-template #noProdutos>
    <div
      [ngStyle]="{
        display: 'flex',
        width: '100%',
        'justify-content': 'center',
        border: '3px solid black'
      }"
    >
      <h1>Não há produtos há serem exibidos.</h1>
    </div>
  </ng-template>

  <app-modal-add-produto
    (CloseModal)="onCloseModal()"
    *ngIf="addModalUp"
    [produtos]="produtos"
  >
  </app-modal-add-produto>
</div>
